{% extends "webapp/new-layout.html" %}
{% load static %}            
{% block investigate-content %}


 <!-- Page Heading -->
 <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
    <a href="{% url 'analysis_report' %}?url={{targetUrl}}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
  </div>

  <!-- Content Row -->
  

    <!-- SAMPLE -->

    

    <!--=================================================================-->
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-12 col-md-12 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
                <!-- MAIN ANALYZE FEATURE-->
              <!-- Topbar Search -->
                <form class="d-none d-sm-inline-block form-inline mr-auto col-xl-12 my-2 my-md-0 mw-100 navbar-search" method="POST" action="{% url 'investigate' %}">
                  {% csrf_token %}
                  <div class="input-group">
                    <input type="url" class="form-control bg-light border-0 small" id="urladres" name="url" placeholder="Add your url Here" aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button action="{% url 'investigate' %}" method="post" class="btn btn-primary" type="submit" name="send" value="Analyze">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
            </div>
            <div class="col-auto">
              <i class="fas fa-user-secret fa-2x text-gray-300"></i>
            </div>
          </div>
        </div>
      </div>
    </div>


<div class="row">
  <div class="col-xl-8 col-lg-8">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
        <h2 class="m-2 font-weight-bold text-primary">Geo-location</h2>
        <div class="dropdown no-arrow">
          <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Dropdown Header:</div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>

  <nav>
    <ul class="nav nav-pills center-pills" role="tablist" id="myTab" style="visibility: hidden">
        <li><a data-toggle="pill" href="#sectionA"  style="visibility: hidden">Section A</a></li>
      
    </ul>
</nav>

<div class="container">

    <!--<div id="map"></div>-->
    <div class="card-body">
    <section>
        <div class="tab-content" style="tab">
            <div id="sectionA" class="tab-pane fade">
                <H2></H2>
                <!-- the map will appear here -->
                <div id="map"></div>

            </div>
        
        </div>
    </section>
  </div>
</div>
    
    </div>
    <!-- END OF CARD SHADOW-->
  </div>
  <!-- END OF COL-->
</div>
<!-- END OF ROW -->

<!-- DataTables Example -->
<div class="card shadow mb-8">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Investigated Results</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive-xl">
      <table class="table table-bordered table-striped table-hover" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th><i class="fa fa-search"></i>Label</th>
                  <th>Analysis Details</th>
                </tr>
              </thead>
              <tbody>
                
                  {% for k,v in details.items %}
                <tr>
                  <td>{{k}}</td>
                  <td>{{v}}</td>
                </tr>
                  {% endfor %}
              </tbody>
            </table>
              </div>
          </div><!-- end details -->
      </div><!-- end col --> 



{% endblock investigate-content %}
