{% load static %}
<!doctype html>
<!--[if IE 9]> <html class="no-js ie9 fixed-layout" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js " lang="en"> <!--<![endif]-->
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
	<!-- Site Meta -->
	{% if title %}
	<title>{{ title }}</title>
	{% else %}
	<title>Brahmastra</title>
	{% endif %}
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'webapp/images/favicon.ico' %}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{% static 'webapp/images/apple-touch-icon.png' %}">

	<!-- Google Fonts -->
 	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700" rel="stylesheet"> 

	<!-- Custom & Default Styles -->
	<link rel="stylesheet" href="{% static 'webapp/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'webapp/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'webapp/css/animate.css' %}">
	<link rel="stylesheet" href="{% static 'webapp/css/carousel.css' %}">
	<link rel="stylesheet" href="{% static 'webapp/css/style.css' %}">

	<!--[if lt IE 9]>
		<script src="js/vendor/html5shiv.min.js"></script>
		<script src="js/vendor/respond.min.js"></script>
	<![endif]-->

	<!-- Added Dashboard files -->
		<!-- Custom fonts for this template-->
		<link href="{% static 'webapp/vendor-dashboard/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
	  
		<!-- Custom styles for this template-->
	
	  
	<!--===========================================-->

</head>
<body>

    {% block content %}{% endblock content %}
    <!-- Custom Footer -->
		<footer class="footer primary-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                    	<div class="widget clearfix">
                    		<h4 class="widget-title">Subscribe</h4>
                    		<div class="newsletter-widget">
                    			<p>You can opt out of our newsletters at any time. See our privacy policy.</p>
		                        <form class="form-inline" role="search">
		                            <div class="form-1">
		                              	<input type="text" class="form-control" placeholder="Enter email here..">
										<button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i></button>
		                            </div>
								</form>
                    		</div><!-- end newsletter -->
                    	</div><!-- end widget -->
                    </div><!-- end col -->
                    <div class="col-md-4 col-sm-2">
                    	<div class="widget clearfix">
                    		<h4 class="widget-title">Brahmastra</h4>
                    		<ul>
                    			<li><a href="#">About us</a></li>
                    			<li><a href="#">Analyzer</a></li>
                    			<li><a href="#">Investigate</a></li>
                    			<li><a href="#">Contact</a></li>
                    		</ul>
                    	</div><!-- end widget -->
                    </div><!-- end col -->

                    
                   
                </div><!-- end row -->
           	</div><!-- end container -->
		</footer><!-- end primary-footer -->

		<footer class="footer secondary-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p>2020 &copy;<a href="#">Brahmastra</a> All rights reserved.</p>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <ul class="list-inline">
                            <li>Designed: <a href="https://html.design">HTML Design</a></li>
                        </ul>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
		</footer><!-- end second footer -->
	</div><!-- end wrapper -->

	<!-- jQuery Files -->
	<script src="{% static 'webapp/js/jquery.min.js' %}"></script>
	<script src="{% static 'webapp/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'webapp/js/parallax.js' %}"></script>
	<script src="{% static 'webapp/js/animate.js' %}"></script>
	<script src="{% static 'webapp/js/owl.carousel.js' %}"></script>
	<script src="{% static 'webapp/js/custom.js' %}"></script>

	<!-- Added Dashboard static files -->
	 <!-- Bootstrap core JavaScript-->
	 <script src="{% static 'webapp/vendor-dashboard/jquery/jquery.min.js' %}"></script>
	 <script src="{% static 'webapp/vendor-dashboard/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
   
	 <!-- Core plugin JavaScript-->
	 <script src="{% static 'webapp/vendor-dashboard/jquery-easing/jquery.easing.min.js' %}"></script>
   
	 <!-- Custom scripts for all pages-->
	 <script src="{% static 'webapp/js-dashboard/sb-admin-2.min.js' %}"></script>
   
	 <!-- Page level plugins -->
	 <script src="{% static 'webapp/vendor-dashboard/chart.js/Chart.min.js' %}"></script>
   
	 <!-- Page level custom scripts -->
	 <script src="{% static 'webapp/js-dashboard/demo/chart-area-demo.js' %}"></script>
	 <script src="{% static 'webapp/js-dashboard/demo/chart-pie-demo.js' %}"></script>

	<!--=========================================-->
	<script>
		// Set new default font family and font color to mimic Bootstrap's default styling
Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
Chart.defaults.global.defaultFontColor = '#858796';
const dv1 = "{{threats}}";
const dv2 = "{{safe}}";
console.log(dv1);
console.log(dv2);
// Pie Chart Example
var ctx = document.getElementById("myPieChartNew");
var myPieChart = new Chart(ctx, {
  type: 'doughnut',
  data: {
    labels: ["Threats", "Safe", "Social"],
    datasets: [{
      data: [dv1, dv2],
      backgroundColor: ['#f2654e', '#1cc88a'],
      hoverBackgroundColor: ['#f2654e', '#17a673'],
      hoverBorderColor: "rgba(234, 236, 244, 1)",
    }],
  },
  options: {
    maintainAspectRatio: false,
    tooltips: {
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10,
    },
    legend: {
      display: false
    },
    cutoutPercentage: 80,
  },
});
</script>
<!--========================-->
</body>
</html>